@model PersonalInfo.Core.Models.Entity.User
@{
	ViewData["Title"] = "Register";
}

<h1>Регистрация</h1>
<h4 style="color: #E3E2E2; margin-bottom: 3%">Для доступа к системе вам необходимо пройти процесс регистрации личных данных</h4>
<div class="register-info">
	<div class="container" style="margin-bottom: 3%">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm step active align-middle">1 этап</div>
					<div class="col-sm step">2 этап</div>
					<div class="col-sm step">3 этап</div>
					<div class="col-sm step">4 этап</div>
					<div class="col-sm step">5 этап</div>
					<div class="col-sm step">Доступ открыт</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row register-info-text" style="margin-bottom: 3%; background-color:black">
		Данное соглашение разработано в соответствии с требованиями действующего законодательства Республики Беларусь,
		<br>Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации». Все лица, заполнившие сведения, составляющие персональные данные на сайте https://contragento.by или на любой его страницах, а также разместившие иную информацию, обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных — ООО «Контемпорари».

		<br>Под персональными данными понимается любая биографическая информация:

		общая информация (Ф.И.О.);
		номер телефона;
		электронная почта (e-mail);
		Пользователи направляют свои персональные данные владельцу сайта в целях получения какой-либо необходимой пользователю информации, принадлежащей владельцу сайта. Гражданин, принимая настоящее Соглашение, выражает свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.

		<br>Гражданин гарантирует

		информация, им предоставленная, является полной, точной и достоверной;
		при предоставлении информации не нарушается действующее законодательство Республики Беларусь, законные права и интересы третьих лиц;
		вся предоставленная информация заполнена Гражданином в отношении себя лично
	</div>
	<form method="post">
		<input type="hidden" name="userId" value="@Model.Id"/>
		<input type="submit" class="btn btn-success" value="Принять">
		<a type="button" class="btn btn-danger" asp-action="Login">Отклонить</a>
	</form>
</div>